/* nav */

.navbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  /* background: rgb(8, 2, 28); */
  /* box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 2rem;
}

.navbar ul li {
  padding: 0;
}

.navbar ul li a {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 16px;
}

.navbar ul li a:hover {
  color: #b6aebf;
}

@media (max-width: 75em) {
  /* 1200px / 16px = 75em */
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  /* 980px / 16px = 61.25em */
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  /* 460px / 16px = 28.75em */
  html {
    font-size: 55%;
  }

  .navbar {
    justify-content: center;
  }

  .navbar ul {
    margin: 0 1rem;
  }

  .navbar ul li a {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
